<div class="container-details">
    <div class="movie-details">
        <div class="poster">
            <img src="<%= movie.Poster %>" alt="<%= movie.Title %> poster">
        </div>
        <div class="movie-info2">
            <h1><%= movie.Title %> (<%= movie.Year %>)</h1>
            <div class="subtext">
                <p><strong><%= movie.Rated %></strong> | <%= movie.Runtime %> | <%= movie.Genre %> | <%= movie.Released %></p>
            </div>
            <p><strong>Genre:</strong> <%= movie.Genre %></p>
            <p><strong>Director:</strong> <%= movie.Director %></p>
            <p><strong>Writer:</strong> <%= movie.Writer %></p>
            <p><strong>Actors:</strong> <%= movie.Actors %></p>
            <p><strong>Plot:</strong> <%= movie.Plot %></p>
            <p><strong>Language:</strong> <%= movie.Language %></p>
            <p><strong>Country:</strong> <%= movie.Country %></p>
            <p><strong>Awards:</strong> <%= movie.Awards %></p>
            <p><strong>Box Office:</strong> <%= movie.BoxOffice %></p>
            <div class="ratings">
            <h2>Ratings</h2>
            <ul>
                <% movie.Ratings.forEach(rating => { %>
                <li><strong><%= rating.Source %>:</strong> <%= rating.Value %></li>
                <% }) %>
            </ul>
            <%if (locals.user){%>
                <form action="/lists/add" method="POST" class="add-movie-form">
                    <input type="hidden" name="imdbId" value="<%= movie.imdbID %>">
                    <input type="hidden" name="title" value="<%= movie.Title %>">
                    <input type="hidden" name="year" value="<%= movie.Year %>">
                    <input type="hidden" name="poster" value="<%= movie.Poster %>">
                    <select name="listId" required>
                    <% lists.forEach(list => { %>
                        <option value="<%= list.id %>"><%= list.name %></option>
                    <% }) %>
                    </select>
                    <button type="submit">Add to List</button>
                </form>
            <%}%>
            </div>
        </div>
    </div>
</div>
